<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/static/images/icon.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/icon.jpg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basicStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customerStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/trainerStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/transactionStyle.css') }}">
    <script src="{{ url_for('static', filename='scripts/editCustomerFunc.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/editTrainerFunc.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/showOrHideFunc.js') }}"></script>
</head>

<body>
    <h1>Online Workout Management System</h1>
    <!-- 顶部功能模块,每个按钮关联一个功能 -->
    {% include 'button_meu.html' %}
    <!-- 用户 -->
    {% include 'customer.html' %}
    <!-- 教练 -->
    {% include 'trainer.html' %}
    <!-- 事务 -->
    {% include 'transaction.html' %}
    <!-- 任务表格 -->
    {% include 'procedure.html' %}
    <!-- 展示什么内容 -->
    {% if func=="customer" or func=="search_customer" %}
        <script>customerTableVisibility()</script>
    {% elif  func=="trainer" or func=="search_trainer" %}
        <script>trainerTableVisibility()</script>
    {% elif  func=="transaction" or func=="search_transaction" %}
        <script>transactionTableVisibility()</script>
    {% elif func=="over_an_age" %}
        <script>overAgeVisibility()</script>
    {% elif func=="fit_and_gold" %}
        <script>fitGoldVisibility()</script>
    {% elif func=="clients_per_trainer" %}
        <script>clientNumberVisibility()</script>
    {% elif func=="trainer_money_report" %}
        <script>moneyReportVisibility()</script>
    {% endif %}
</body>
</html>
