<div class="top-menu" id="func-menu">
    <!-- over an age -->
    <button onclick="overAgeVisibility()">Over an Age</button>
    <!-- fit and gold customers -->
    <form action="/fitGold" method="post" style="display: inline;">
        <button onclick="fitGoldVisibility()">Fit And Gold Customers</button>
    </form>
    <!-- clients per trainer -->
    <form action="/clientNumber" method="post" style="display: inline;">
        <button onclick="clientNumberVisibility()">Clients Per Trainer</button>
    </form>
    <!-- delete young customers -->
    <form action="/deleteYoung" method="post" style="display: inline;">
        <button>Delete Young Members</button>
    </form>
    <!-- monthly money report -->
    <form action="/moneyReport" method="post" style="display: inline;">
        <button onclick="moneyReportVisibility()">Monthly Money Report</button>
    </form>
</div>
<div class="top-menu" id="basic-menu">
    <!-- 用户 -->
    <button onclick="customerVisibility()">Customer</button>
    <!-- 教练 -->
    <button onclick="trainerVisibility()">Trainer</button>
    <!-- 事务 -->
    <button onclick="transactionVisibility()">Transaction Function</button>
</div>