<div class="top-menu">
    <form action="/customer" method="post" style="display: inline;">
        <button type="submit" onclick="customerTableVisibility()">Customer</button>
    </form>
    <button onclick="insertCustomerVisibility()">Insert Customer</button>
    <button onclick="searchCustomerVisibility()">Search Customer</button>
    <form action="/trainer" method="post" style="display: inline;">
        <button type="submit" onclick="trainerTableVisibility()">Trainer</button>
    </form>
    <button onclick="insertTrainerVisibility()">Insert Trainer</button>
    <button onclick="searchTrainerVisibility()">Search Trainer</button>
    <form action="/transaction" method="post" style="display: inline;">
        <button type="submit" onclick="transactionTableVisibility()">Transaction</button>
    </form>
    <button onclick="insertTransactionVisibility()">Insert Transaction</button>
    <button onclick="searchTransactionVisibility()">Search Transaction</button><br>
</div>