<!-- 插入事务 -->
<div id="insertTransaction" style="display: none;">
    <h2>Insert Transaction</h2>
    <form action="/addTransaction" method="post">
        <label for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" required pattern="\d{1,10}" title="1 ~ 10 numbers"><br>
        <label for="trainer_id">Trainer ID:</label>
        <input type="text" id="trainer_id" name="trainer_id" required pattern="\d{1,10}" title="1 ~ 10 numbers"><br>
        <label for="program_level">Program Level:</label>
        <input type="text" id="program_level" name="program_level" required pattern="(Gold|Silver|Bronze)" title="Only Gold, Silver or Bronze"><br>
        <label for="monthly_fee">Monthly Fee:</label>
        <input type="text" id="monthly_fee" name="monthly_fee" required pattern="^\d{1,8}(\.\d{1,2})?$"><br>
        <label for="assignment_date">Assignment Date:</label>
        <input type="date" id="assignment_date" name="assignment_date" required>
        <button type="submit">Insert</button>
    </form>
</div>
<!-- 查询事务 -->
<div id="searchTransaction" style="display: none;">
    <h2>Search Transaction</h2>
    <form action="/searchTransaction" method="post">
        <label for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" pattern="\d{0,10}" title="0 ~ 10 numbers"><br>
        <label for="trainer_id">Trainer ID:</label>
        <input type="text" id="trainer_id" name="trainer_id" pattern="\d{0,10}" title="0 ~ 10 numbers"><br>
        <label for="program_level">Program Level:</label>
        <input type="text" id="program_level" name="program_level" pattern="(Gold|Silver|Bronze)" title="Only Gold, Silver or Bronze"><br>
        <label for="assignment_date">Assignment Date:</label>
        <input type="date" id="assignment_date" name="assignment_date">
        <button type="submit">Search</button>
    </form>
</div>
<!-- transaction table, 其中含有!!删除!!按钮 -->
<div id="transactionTable" style="display: none;">
    <h2>Transaction</h2>
    <table border="1">
        <tr>
            <th>Customer ID</th>
            <th>Trainer ID</th>
            <th>Program Level</th>
            <th>Monthly Fee</th>
            <th>Assignment Date</th>
            <th>Delete</th>
        </tr>
        {% for transaction in transaction_data %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>
                    <form action="/deleteTransaction/{{ transaction[0] }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>