#insertCustomer h2 {
    text-align: center;
}
#insertCustomer label {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 10px;
}
#insertCustomer input {
    width: 200px;
    margin-bottom: 20px;
}
#insertCustomer #address {
    width: 576px;
}
#insertCustomer #exercise_history {
    width: 576px;
}
#insertCustomer #birthdate {
    width: 203px;
}
#insertCustomer #medical_history {
    width: 576px;
}
#insertCustomer button {
    font-size: 20px;
    display: block; /* 将按钮元素设置为块级元素，使其独占一行 */
    margin: 0 auto;
    background-color: transparent; /* 设置透明背景 */
    /*border: none;  去除边框 */
    cursor: pointer;
    color: white; /* 设置文本颜色，以便可见，您可以根据需要调整 */
}
